.tiny_turtle-parent{
    background-image: url(../../Images/Project_Pics/Tiny_Turtle/Ocean_Background.jpg);
    background-size: cover;
    /* background-position: center; */
    background-attachment: fixed;
    /* display: flex; */
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.big_font{
    font-size: 4em;
    color: white;
    background-color: rgba(0,0,0,.8);
    padding: 1%;

    /* -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px; */
}

.tiny_turtle_col{
    /* width: 70%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tiny_turtle_col_2{
    border-right: solid white 2px;
    /* border-left: solid white 2px; */
    color: white;
}

.tiny_turtle_card{
    text-align: left;
    /* border: solid black 1px; */
}

.tiny_turtle_carousel{
    border: solid white 2px;
}

.tiny_turtle_icons{
    text-align: center;
    justify-content: center;
}

.carousel_caption{
background-color: rgba(0,0,0,.8);
}

/* .tiny_turtle_row{
    margin-left: auto;
    margin-right: auto;
} */