
.left-col{
    align-items: center;
    text-align: center;
    color: white;
}

.right-col{
    list-style-position: inside;

}

i{
    padding: 2%;
}

.pic-me{
    width:70%;
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto; */
    border: solid white;
  }

.parent{
    background-image: url(../../Images/Canyons.jpg);
    background-size: cover;
    /* background-position: center; */
    background-attachment: fixed;
    /* display: flex; */
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

a{
    color: white;
}


